//Compile
@import 'global';

//pallette
.container{
    width: $container-width;
    margin: auto;
}


//navbar
#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 55;
    font-family: $font-main;
    background: rgba(0,0,0,0.2);
    .logo{
        max-width: 80px;
        display: block;
        transform: scale(2);
    }
    .nav-ul{
        padding: 5px 0;
        display: flex;
        align-items: center;
        color: white;
        letter-spacing: 2px;
        font-size: 14px;
        text-transform: uppercase;
        justify-content: space-around;
        a{
            display: block;
            padding: 10px 10px;
            margin: 0 20px;
        }
    }
}

//navbar


#parentContainer{
    font-family: $font-main;
}

#indexLanding{
    background-image: url('../../img/assets/burned-besar.png');
    min-height: 80vh;
    background-size: cover;
    background-position: center bottom;
    text-align: center;
    padding: 40vh 0;
}

.section-title{
    font-family: $font-title;
    letter-spacing: 7px;
    font-size: 20px;
    text-align: center;
    color: #555;
}

.title-decor{
    position: relative;
    top: 10px;
}
.title-decor.left{
    transform: rotateY(180deg);
}
.section-container{
    padding: 40px 0;
}
.section-container.grey{
    background: #f5f5f5;
    box-shadow: inset 0 0 23px 0 rgba(221,221,221,0.50);
}
#indexProductCat{
}

#indexFeatured{
    .flex{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }
    .flex-module{
        width: 30%;
        position: relative;
        height: 360px;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        align-items: center;
        text-align: center;
        .tint{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.3);
            transition: all .3s ease;
        }
        img{
            width: 100%;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all .3s ease;
        }
        .text{
            position: relative;
            z-index: 55;
            // top: 45%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            color: white;
            width: 100%;
            text-align: center;
            .title{
                text-transform: uppercase;
                font-size: 24px;
                font-family: $font-title;
                letter-spacing: 5px;
            }
            .caption{
                text-transform: uppercase;
                font-size: 12px;
                padding: 5px 0;
                letter-spacing: 9px;

            }
        }
    }
    .flex-module:hover{
        img{
            transform: translate(-50%, -50%) scale(1.1);
            filter: blur(1px)
        }
        .tint{
            background: rgba(0,0,0,0.2);
        }
    }
}
#whyShop{
    .flex{
        display: flex;
        text-align: center;
        justify-content: space-around;
        padding: 20px 0;
    }
    .flex-module{
        padding: 20px 30px;
        width: 30%;
        img{
            display: block;
            margin: auto;
            transform: scale(0.8);
        }
        .title{
            padding: 5px 0 10px;
            font-family: $font-title;
            letter-spacing: 4px;
            font-size: 15px;
        }
        .caption{
            opacity: 0.8;
            font-size: 14px;
            padding: 0px 0px;
            line-height: 1.5;
        }
    }
}
#indexBestSeller{
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 40px;
        .flex-module{
            width: 24%;
            border: 1px solid #ddd;
            background: white;
            margin-bottom: 25px;
            cursor: pointer;
            box-shadow: 0px 6px 14px -3px rgba(0,0,0,0.3);
            transition: all .3s ease;
            img{
                width: 100%;
                display: block;
            }
            .bottom{
                padding: 15px 6px;
                font-size: 14px;
                .product-name{
                    font-family: $font-title;
                    font-feature-settings: 15px;
                }
                .price{
                    padding-top: 10px;
                    font-family: $font-title;
                    font-feature-settings: 13px;
                }
                .desc{
                    padding-top: 10px;
                    font-family: $font-title;
                    font-size: 12px;
                }
            }
        }
        .flex-module:hover{
            transform: translateY(-5px);
            box-shadow: 0px 15px 20px -7px rgba(0,0,0,0.3);
        }
    }
}
#footer{
    background: #f5f5f5;
    padding: 40px 0;
    border-top: 3px solid #aaa;
}
